

.trans-header{
    color: rgba(8, 8, 8, 0.9);
font-family: Outfit;
font-size: 18px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
}

.trans-p{
    color: rgba(8, 8, 8, 0.5);
font-family: Outfit;
font-size: 14px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
}

.trans-bg{
    box-sizing: border-box;
border: 1px solid rgba(8, 8, 8, 0.1);
border-radius: 12px;
background: rgba(255, 255, 255, 1);
}

.trans-img{
    border-radius: 32px;
background: rgba(8, 8, 8, 0.05);
/* wallet 1 */
width: 45.5px;
height: 45.5px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 11px;
}

.tren-h{
    color: rgba(8, 8, 8, 0.7);
font-family: Outfit;
font-size: 16px;
font-weight: 600;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
}

.tren-time{
color: rgba(8, 8, 8, 0.7);
font-family: Outfit;
font-size: 12px;
font-weight: 400;
line-height: 100%;
letter-spacing: 0px;
text-align: left;
}